<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">All Tv series</li>
  </ol>

  <div class="row">
      <div class="col-md-12">
            <div class="row">
            <div class="col-md-2">
            <input type="text" class="form-control" ng-model="pages">
            </div>
            <div class="col-md-2">
                 <input type="button" value="insert" ng-click="series()" class="btn btn-danger">
          </div>
          </div>
      </div>
  </div>